/* ------------------------------------------------------------------------------
 *
 *  # Custom css code
 *
 *  Place here all your custom css.
 *
 * ---------------------------------------------------------------------------- */
.max-width-1280 {
    max-width: 1280px !important;
}.max-width-1040 {
    max-width: 1040px !important;
}
.max-width-960 {
    max-width: 960px !important;;
}
.max-width-820 {
    max-width: 820px !important;
}
.sidebar-main .rg-badge {
    top: 0.625rem;
    right: 1.25rem;
    position: absolute;
}
.custom-control-input:disabled~.custom-control-label {
    cursor: not-allowed;
    opacity: 0.6;
}
.sidebar-main .rg-badge-has-info {
    top: 15px;
    right: 1.25rem;
    position: absolute;
}
.rg-rounded-left-only,
.rg-rounded-right-only + .select2 .select2-selection {
    border-radius: 0 !important;
    border-top-left-radius: 0.1875rem !important;
    border-bottom-left-radius: 0.1875rem !important;
}
.rg-rounded-right-only,
.rg-rounded-right-only + .select2 .select2-selection {
    border-radius: 0 !important;
    border-top-right-radius: 0.1875rem !important;
    border-bottom-right-radius: 0.1875rem !important;
}
.rg-rounded-0 + .select2 .select2-selection {
    border-radius: 0 !important;
}

/*
 * make select2 field appear normally when v-model in vue is added to it
 */
.select2-selection--single {
    height: calc(1.5385em + .875rem + 2px) !important;
}
.select2-results__group {
    font-weight: bold !important;
}
.rg-custom-file-label::after {
    left: 0;
    right: auto;
    border-left-width: 0;
    border-right: inherit;
}
.rg-txn-total-pr {
    padding-right: 49px !important;
}
.rg-breadcrumb-item-tenant-name {
    padding-left: 0.625rem !important;
    padding-right: 0.625rem !important;
    padding-top: 6px !important;
}
/*vue datepicker*/
.mx-input-wrapper,
.mx-input {
    height: 100% !important;
}
.mx-input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.cursor-pointer {
    cursor: pointer;
}
.rounded-left-0 {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.rg-nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table th,
.rg-font-weight-600,
.font-weight-semibold {
    font-weight: 600 !important;
}
@media print {
    .rg-print-border-0 {
        border: none !important;
    }
    .rg-print-p-0 {
        padding: 0 !important;
    }
    .rg-print-m-0 {
        margin: 0 !important;
    }
}
.ui-pnotify-action-bar {
    text-align: left !important;
}
body.sidebar-xs #rg-main-navbar {
    left: 56px !important;
}
body:not(.sidebar-xs) #rg-main-navbar {
    left: 270px !important;
}